@import '_mixins.scss';
@import '_variables.scss';

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    & .footer {
        margin-top: 129px;
    }
}

.bg {
    &--yellow {
        background-color: $yellow;
    }
    &--blue {
        background-color: $blueFirst;
    }
}

.circle {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    &--gray {
        background: rgba(255, 255, 255, 0.6);
    }
}

.circles {
    @include flex;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    &::before, &::after {
        @include pseudo;
        min-width: 9px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.6);
    }
    &::before {
        transform: translateX(15px);
    }
    &::after {
        transform: translateX(21px);
    }
}

.text {
    &--black {
        color: $blackFirst;
    }
    &--white {
        color: #fff;
    }
    &--blue {
        color: $blueSecond;
    }
    &--light-gray {
        color: rgba(54, 54, 54, 0.6);
    }
    &--gray {
        color: rgba(54, 54, 54, 0.7);
    }
}

.title {
    letter-spacing: 1px;
    &--first {
        @include poppins-semibold;
        @include font-props(34px, 150%, $blackSecond);
    }
    &--second {
        @include poppins-semibold;
        @include font-props(34px, 150%, $blackSecond);
    }
    &--third {
        @include poppins-bold;
        @include font-props(34px, 150%, $blackSecond);
    }
}

.subtitle {
    &--first {
        @include poppins-regular;
        @include font-props(20px, 150%, $blackSecond);
    }
    &--second {
        @include poppins-regular;
        @include font-props(18px, 150%, $blackSecond);
    }
    &--third {
        @include poppins-medium;
        @include font-props(16px, 150%, $blackSecond);
    }
}

.caption {
    &--first {
        @include poppins-regular;
        @include font-props(16px, 150%, $blackSecond);
    }
}

.item {
    &__caption {
        @include font-props(18px, 150%, rgba(54, 54, 54, 0.6));
        text-transform: uppercase;
    }
    &__title {
        @include poppins-semibold;
        @include font-props(24px, 150%, $blackSecond);
        &--first {
            font-size: 24px;
        }
        &--second {
            font-size: 22px;
        }
        &--third {
            font-size: 18px;
        }
    }
    &__desc {
        @include font-props(16px, 162.5%, rgba(54, 54, 54, 0.6));
    }
    &__meta {
        @include font-props(12px, 150%, #000);
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    &__tag {
        @include flex;
        color: #000;
        &::after {
            @include pseudo;
            transform: translateX(10px);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $blackSecond;
            opacity: 0.6;
        }
    }
    &__date {
        margin-left: 20px;
        color: #8a8888;
    }
}

.input {
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    &--outlined {
        border: 1px solid #fff;
        &-gray {
            border: 1px solid #979797;
        }
    }
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.category {
    @include font-props(14px, 150%, $blackSecond);
    padding: 13px 30px;
    background-color: transparent;
    border: 1px solid #979797;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: #979797;
        color: #fff;
    }
    &--active {
        background-color: #979797;
        color: #fff;
    }
}

.btn {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.5px;
    transition: all 0.3s ease 0s;
    @include poppins-medium;
    @include font-props(16px, 150%, #fff);
    &-link {
        display: inline-block;
    }
    &--blue {
        @include poppins-regular;
        background-color: $blueFirst;
        color: #fff;
        &:hover {
            background-color: $blueSecond;
        }
    }
    &--yellow {
        padding: 17px 33px;
        background-color: $yellow;
        color: $blackFirst;
        &:hover {
            background-color: $darkYellow;
        }
    }
    &--outline {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $blueSecond;
        }
        &-white {
            border: 1px solid #fff;
            color: #fff;
            &:hover {
                background-color: #fff;
                color: $blueSecond;
            }
        }
        &-blue {
            border: 1px solid $blueSecond;
            color: $blueSecond;
            &:hover {
                background-color: $blueSecond;
                color: #fff;
            }
        }
    }
}

.header {
    @include flex($justify: flex-end);
    &__logo {
        margin-right: auto;
    }
    &__navbar {
        margin-right: 9.5%;
    }
    &__btn {
    }
}

.navbar {
    &__list {
        list-style-type: none;
        @include flex;
        &-item {
            position: relative;
            &:hover {
                & a {
                    color: $blueSecond;
                }
            }
            &:not(:first-child) {
                margin-left: 55px;
            }
            & a {
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                @include poppins-regular;
                @include font-props(16px, 150%, rgba(54, 54, 54, 0.8));
            }
        }
    }
}

.footer {
    @include font-props(16px, 150%, rgba(255, 255, 255, 0.6));
    background-color: #2b2a2a;
    & a {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }
    &__top {
        padding: 86px 0 99px;
        &-content {
            @include flex($align: flex-start);
            & > div {
                display: flex;
                flex-direction: column;
                &:first-child {
                    flex: 0 0 312px;
                }
            }
        }
    }
    &__bottom {
        padding: 33px 0;
        background-color: #201e1e;
        &-content {
            @include flex;
            & > div {
                @include flex;
                & > a {
                    transition: all 0.3s ease 0s;
                    &:hover {
                        color:rgba(255, 255, 255, 1);
                    }
                    &:last-child {
                        margin-left: 117px;
                    }
                }
            }
        }
    }
    &__title {
        @include font-props(31px, 148%, #fff);
    }
    &__subtitle {
        margin-top: 15px;
        @include font-props(16px, 187.5%, rgba(255, 255, 255, 0.6));
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        & a {
            color: #fff;
            &:not(:first-child) {
                margin-top: 9px;
            }
            img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
            }
        }
    }
    &__navbar {
        display: flex;
        &-column {
            display: flex;
            flex-direction: column;
            &:not(:first-child) {
                margin-left: 80px;
            }
        }
        &-list {
            margin-top: 27px;
            list-style-type: none;
            &-item {
                a {
                    font-size: 14px;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                    }
                }
                &:not(:first-child) {
                    margin-top: 21px;
                }
            }
        }
    }
}

.demo-form-block {
    @include flex($justify: center);
    @include background($image: '../img/demo-form-block-gradient.png');
    padding: 97px 0 107px;
    background-color: $blackSecond;
    border-radius: 20px;
    text-align: center;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 665px;
    }
    &__title {
        @include poppins-medium;
        @include font-props(30px, 150%, #fff);
    }
    &__subtitle {
        @include font-props(16px, 150%, rgba(255, 255, 255, 0.6));
        margin-top: 15px;
    }
    &__form {
        margin-top: 35px;
        width: 565px;
    }
    &__btn {
        margin-left: 21px;
        padding: 14px 32px;
    }
    &__desc {
        @include font-props(14px, 150%, rgba(255, 255, 255, 0.6));
        margin-top: 16px;
    }
}

.demo-form {
    @include flex($justify: flex-start);
    &__input {
        flex: 1 0 auto;
    }
}

.text {
    &--uppercase {
        text-transform: uppercase;
    }
    &--semibold {
        @include poppins-semibold;
    }
}

.preview {
    transition: all 0.2s ease 0s;
    &:hover {
        transform: translateY(-5px);
    }
    &__link {
        text-decoration: none;
    }
    &__image-block {
        width: 100%;
        height: 291px;
        background-color: #d8d8d8;
        border-radius: 10px;
    }
    &__image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    &__text {
        padding-right: 15px;
    }
    &__meta {
        margin-top: 31px;
    }
    &__title {
        margin-top: 10px;
    }
    &__desc {
        margin-top: 10px;
    }
}

.sidebar-preview-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.sidebar-preview {
    transition: all 0.2s ease 0s;
    &:hover {
        transform: translateY(-5px);
    }
    &__link {
        text-decoration: none;
    }
    &__title {
        margin-top: 20px;
    }
    &__desc {
        margin-top: 15px;
    }
}

.form {
    margin-top: -22px;
    &__input {
        margin-top: 22px;
        width: 340px;
        height: 60px;
    }
    &__btn {
        margin-top: 24px;
        width: 192px;
        height: 52px;
    }
    &__links {
        @include flex($justify: center);
        margin-top: 50px;
        position: relative;
        &::before {
            @include pseudo;
            width: 100%;
            height: 1px;
            position: absolute;
            top: -10px;
            left: 0;
            // transform: translateY(-10px);
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &__link {
        color: $blueSecond;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
        &:hover {
            text-decoration: underline;
        }
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}