@import '_mixins.scss';
@import '_variables.scss';


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    & .footer {
        margin-top: 129px;
    }
}

.bg {
    &--yellow {
        background-color: $yellow;
    }
    &--blue {
        background-color: $blueFirst;
    }
}

@keyframes fromTop {
    from {
        transform: translateY(-200%);
        top: -200%;
    }
    to {
        transform: translateY(0);
        top: 0;
    }
}

@keyframes toTop {
    from {
        transform: translateY(0);
        top: 0;
    }
    to {
        transform: translateY(-200%);
        top: -200%;
    }
}

.circle {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    &--gray {
        background: rgba(255, 255, 255, 0.6);
    }
}

.circles {
    @include flex;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    &::before, &::after {
        @include pseudo;
        min-width: 9px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.6);
    }
    &::before {
        transform: translateX(15px);
    }
    &::after {
        transform: translateX(21px);
    }
}

.container {
    width: 81.25%;
    margin: 0 auto;
}

.text {
    &--black {
        color: $blackFirst;
    }
    &--white {
        color: #fff;
    }
    &--blue {
        color: $blueSecond;
    }
    &--light-gray {
        color: rgba(54, 54, 54, 0.6);
    }
    &--gray {
        color: rgba(54, 54, 54, 0.7);
    }
}

.title {
    letter-spacing: 1px;
    &--first {
        @include poppins-semibold;
        @include font-props(34px, 150%, $blackSecond);
    }
    &--second {
        @include poppins-semibold;
        @include font-props(32px, 150%, $blackSecond);
    }
    &--third {
        @include poppins-bold;
        @include font-props(34px, 150%, $blackSecond);
    }
}

.subtitle {
    &--first {
        @include poppins-regular;
        @include font-props(20px, 150%, $blackSecond);
    }
    &--second {
        @include poppins-regular;
        @include font-props(18px, 150%, $blackSecond);
    }
    &--third {
        @include poppins-medium;
        @include font-props(16px, 150%, $blackSecond);
    }
}

.caption {
    &--first {
        @include poppins-regular;
        @include font-props(16px, 150%, $blackSecond);
    }
}

.item {
    &__caption {
        @include font-props(18px, 150%, rgba(54, 54, 54, 0.6));
        text-transform: uppercase;
    }
    &__title {
        @include poppins-semibold;
        @include font-props(24px, 150%, $blackSecond);
        &--first {
            font-size: 24px;
        }
        &--second {
            font-size: 22px;
        }
        &--third {
            font-size: 18px;
        }
    }
    &__desc {
        @include font-props(16px, 162.5%, rgba(54, 54, 54, 0.6));
    }
    &__meta {
        @include font-props(12px, 150%, #000);
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    &__tag {
        @include flex;
        color: #000;
        &::after {
            @include pseudo;
            transform: translateX(10px);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $blackSecond;
            opacity: 0.6;
        }
    }
    &__date {
        margin-left: 20px;
        color: #8a8888;
    }
}

.input {
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    &--outlined {
        border: 1px solid #fff;
        &-gray {
            border: 1px solid #979797;
        }
    }
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.category {
    @include font-props(14px, 150%, $blackSecond);
    padding: 13px 30px;
    background-color: transparent;
    border: 1px solid #979797;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: #979797;
        color: #fff;
    }
    &--active {
        background-color: #979797;
        color: #fff;
    }
}

.btn {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 0.5px;
    transition: all 0.3s ease 0s;
    @include poppins-medium;
    @include font-props(16px, 150%, #fff);
    &-link {
        display: inline-block;
    }
    &--blue {
        @include poppins-regular;
        background-color: $blueFirst;
        color: #fff;
        &:hover {
            background-color: $blueSecond;
        }
    }
    &--yellow {
        padding: 17px 33px;
        background-color: $yellow;
        color: $blackFirst;
        &:hover {
            background-color: $darkYellow;
        }
    }
    &--outline {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $blueSecond;
        }
        &-white {
            border: 1px solid #fff;
            color: #fff;
            &:hover {
                background-color: #fff;
                color: $blueSecond;
            }
        }
        &-blue {
            border: 1px solid $blueSecond;
            color: $blueSecond;
            &:hover {
                background-color: $blueSecond;
                color: #fff;
            }
        }
    }
}

.burger-btn {
    display: block;
    position: relative;
    z-index: 100;
    width: 50px;
    height: 34px;
    cursor: pointer;
    &--white {
        & span,
        &::before,
        &::after {
            background-color: #fff;
        }
    }
    &--black {
        & span,
        &::before,
        &::after {
            background-color: $blackSecond;
        }
    }
    & span {
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: 16px;
    }
    &::before,
    &::after {
        @include pseudo;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &--active {
        & span {
            display: none;
        }
        &::before {
            background-color: #fff;
            transform: translate(0, 16px) rotate(45deg);
        }
        &::after {
            background-color: #fff;
            transform: translate(0, -16px) rotate(-45deg);
        }
    }
}

.header {
    width: 100%;
    @include flex;
    &__logo {
        margin-right: auto;
    }
    &__menu {
        flex: 0 0 60%;
        @include flex;
        animation: toTop 0.3s;
        &--active {
            display: flex;
            animation: fromTop 0.3s;
        }
    }
    &__burger-btn {
        display: none;
    }
}

.show {
    animation: fromTop 0.3s;
}

.hide {
    animation: toTop 0.3s;
}

.navbar {
    white-space: nowrap;
    &__list {
        list-style-type: none;
        @include flex;
        &-item {
            position: relative;
            &:hover {
                & a {
                    color: $blueSecond;
                }
            }
            &:not(:first-child) {
                margin-left: 55px;
            }
            & a {
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                @include poppins-regular;
                @include font-props(16px, 150%, rgba(54, 54, 54, 0.8));
            }
        }
    }
}

.footer {
    @include font-props(16px, 150%, rgba(255, 255, 255, 0.6));
    background-color: #2b2a2a;
    & a {
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }
    &__top {
        padding: 86px 0 99px;
        &-content {
            @include flex($align: flex-start);
            & > div {
                display: flex;
                flex-direction: column;
            }
        }
    }
    &__bottom {
        padding: 33px 0;
        background-color: #201e1e;
        &-content {
            @include flex;
            & > div {
                @include flex;
                & > a {
                    transition: all 0.3s ease 0s;
                    &:hover {
                        color:rgba(255, 255, 255, 1);
                    }
                    &:last-child {
                        margin-left: 117px;
                    }
                }
            }
        }
    }
    &__text {
        max-width: 312px;
        display: flex;
        flex-direction: column
    }
    &__title {
        @include font-props(31px, 148%, #fff);
    }
    &__subtitle {
        margin-top: 15px;
        @include font-props(16px, 187.5%, rgba(255, 255, 255, 0.6));
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        & a {
            color: #fff;
            &:not(:first-child) {
                margin-top: 9px;
            }
            img {
                margin-right: 10px;
                width: 24px;
                height: 24px;
            }
        }
    }
    &__navbar {
        width: 63.4%;
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(4, auto);
        &-column {
            display: flex;
            flex-direction: column;
        }
        &-title {
            & span {
                display: none;
            }
        }
        &-list {
            margin-top: 27px;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            &-item {
                white-space: nowrap;
                a {
                    font-size: 14px;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                    }
                }
                &:not(:first-child) {
                    margin-top: 21px;
                }
            }
        }
    }
}

.demo-form-block {
    @include flex($justify: center);
    @include background($image: '../img/demo-form-block-gradient.png');
    padding: 97px 0 107px;
    background-color: $blackSecond;
    border-radius: 20px;
    text-align: center;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 665px;
    }
    &__title {
        @include poppins-medium;
        @include font-props(30px, 150%, #fff);
        max-width: 665px;
    }
    &__subtitle {
        @include font-props(16px, 150%, rgba(255, 255, 255, 0.6));
        margin-top: 15px;
    }
    &__form {
        margin-top: 35px;
        width: 565px;
    }
    &__btn {
        margin-left: 21px;
        padding: 14px 32px;
    }
    &__desc {
        @include font-props(14px, 150%, rgba(255, 255, 255, 0.6));
        margin-top: 16px;
    }
}

.demo-form {
    @include flex($justify: flex-start, $wrap: wrap);
    &__input {
        flex: 1 0 auto;
        height: 52px;
    }
}

.text {
    &--uppercase {
        text-transform: uppercase;
    }
    &--semibold {
        @include poppins-semibold;
    }
}

.preview {
    transition: all 0.2s ease 0s;
    &:hover {
        transform: translateY(-5px);
    }
    &__link {
        text-decoration: none;
    }
    &__image-block {
        width: 100%;
        height: 291px;
        background-color: #d8d8d8;
        border-radius: 10px;
    }
    &__image {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    &__text {
        padding-right: 15px;
    }
    &__meta {
        margin-top: 31px;
    }
    &__title {
        margin-top: 10px;
    }
    &__desc {
        margin-top: 10px;
    }
}

.sidebar-preview-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.sidebar-preview {
    transition: all 0.2s ease 0s;
    &:hover {
        transform: translateY(-5px);
    }
    &__link {
        text-decoration: none;
    }
    &__title {
        margin-top: 20px;
    }
    &__desc {
        margin-top: 15px;
    }
}

.form {
    margin-top: -22px;
    &__input {
        margin-top: 22px;
        width: 340px;
        height: 60px;
    }
    &__btn {
        margin-top: 24px;
        width: 192px;
        height: 52px;
    }
    &__links {
        @include flex($justify: center);
        margin-top: 50px;
        position: relative;
        &::before {
            @include pseudo;
            width: 100%;
            height: 1px;
            position: absolute;
            top: -10px;
            left: 0;
            // transform: translateY(-10px);
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &__link {
        color: $blueSecond;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
        &:hover {
            text-decoration: underline;
        }
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
    &__tooltip {
        flex: 0 0 100%;
        margin-top: 15px;
        text-align: center;
    }
}

.get-demo-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    &--active {
        display: flex;
    }
    &__dialog {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 150px;
        background-color: #fff;
        border-radius: 10px;
    }
    &__content {
        padding: 20px;
    }
    &__form {
        & input {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}


@media (max-width: 1366px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .header {
        &__menu {
            flex: 0 0 70%;
        }
    }
    .page {
        & .footer {
            margin-top: 10%;
        }
    }
    .footer {
        &__navbar {
            width: 60%;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__menu {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: -200%;
            left: 0;
            z-index: 99;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-y: hidden;
            background-color: #000;
            &--active {
                display: flex;
                transition: $slow;
                top: 0;
            }
        }
        &__navbar {
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        &__btn {
            margin-top: 10%;
            border: 1px solid #fff;
            color: #fff;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
        &__burger-btn {
            display: block;
        }
    }
    .navbar {
        &__list {
            flex-direction: column;
            &-item {
                &:not(:first-child) {
                    margin: 20% 0 0;
                }
                & a {
                    color: #fff;
                    font-size: 25px;
                }
            }
        }
    }
    .footer {
        &__top-content {
            width: 100%;
            flex-direction: column;
            & > div {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__subtitle {
            display: none;
        }
        &__contacts {
            margin-top: 0;
            flex-direction: row;
            & a {
                &:not(:first-child) {
                    margin: 0 0 0 30px;
                }
            }
        }
        &__navbar {
            margin-top: 20px;
            width: 100%;
            justify-items: center;
            &-list {
                margin-top: 20px;
            }
        }

    }
    .preview {
        &__image-block {
            height: 400px;
        }
    }
    .item {
        &__caption {
            font-size: 16px;
        }
        &__title {
            font-size: 20px;
            &--first {
                font-size: 22px;
            }
            &--third {
                font-size: 18px;
            }
        }
    }

    .title {
        &--first {
            font-size: 30px;
        }
        &--second {
            font-size: 28px;
        }
    }
}

@media (max-width: 768px) {
    .title {
        &--first {
            font-size: 26px;
        }
        &--second {
            font-size: 26px;
        }
    }
    .preview {
        &:hover {
            transform: translateY(0);
        }
        &__image-block {
            height: 330px;
        }
    }
    .demo-form-block {
        display: none;
    }
    .footer {
        &__top {
            &-content {
                flex-direction: row;
                & > div {
                    flex-direction: column;
                }
            }
        }
        &__title {
            font-size: 26px;
        }
        &__contacts {
            margin-top: 30px;
            white-space: nowrap;
            flex-direction: column;
            & a {
                &:not(:first-child) {
                    margin: 20px 0 0;
                }
                & img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__navbar {
            margin-top: 0;
            grid-template-columns: repeat(1, auto);
            gap: 15px;
            justify-items: stretch;
            width: 50%;
            &-column {
                width: 100%;
            }
            &-title {
                width: 30%;
                text-align: left;
                display: flex;
                cursor: pointer;
                & span {
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    &::before,
                    &::after {
                        @include pseudo;
                        position: absolute;
                        width: 20px;
                        height: 1px;
                        background-color: #fff;
                    }
                    &::after {
                        transform: rotate(90deg);
                    }
                }
                &--active {
                    & span {
                        transform: rotate(45deg);
                    }
                }
            }
            &-list {
                margin-top: 15px;
                display: none;
                &--active {
                    display: flex;
                }
                &-item {
                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }
        &__top {
            padding: 50px 0;
        }
        &__bottom {
            &-content {
                & > div {
                    width: 30%;
                    justify-content: space-between;
                    & a {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .footer {
        &__top {
            padding: 30px 0;
        }
        &__bottom {
            &-content {
                & > div {
                    width: 40%;
                }
            }
        }
    }
    .subtitle {
        &--first {
            font-size: 18px;
        }
    }
    .preview {
        &__image-block {
            height: 300px;
        }
    }
    .form {
        &__input {
            margin-top: 15px;
            height: 50px;
            width: 100%;
        }
        &__btn {
            margin-top: 20px;
            height: 48px;
            padding: 10px 32px;
        }
        &__links {
            margin-top: 40px;
        }
    }
}

@media (max-width: 480px) {
    .title {
        &--first {
            font-size: 24px;
        }
        &--second {
            font-size: 24px;
        }
    }
    .header {
        &__logo {
            width: 140px;
            & img {
                width: 100%;
            }
        }
    }
    .footer {
        &__top {
            &-content {
                flex-direction: column;
            }
        }
        &__title {
            font-size: 24px;
        }
        &__contacts {
            margin-top: 10px;
            & a {
                &:not(:first-child) {
                    margin: 10px 0 0;
                }
                & img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        &__navbar {
            margin-top: 30px;
            width: 100%;
            &-title {
                width: 96%;
                justify-content: space-between;
            }
        }
    }
    .burger-btn {
        height: 28px;
        & span {
            top: 13px;
        }
        &::before {
            top: 1px;
        }
        &::after {
            bottom: 1px;
        }
        &--active {
            & span {
                display: none;
            }
            &::before {
                transform: translate(0, 13px) rotate(45deg);
                top: 0;
            }
            &::after {
                transform: translate(0, -13px) rotate(-45deg);
                bottom: 0;
            }
        }
    }
    .item {
        &__title {
            font-size: 18px;
            &--first {
                font-size: 20px;
            }
            &--third {
                font-size: 16px;
            }
        }
        &__desc {
            font-size: 14px;
        }
    }
    .footer {
        &__navbar {
            grid-template-columns: repeat(1, 100%);
        }
        &__bottom {
            padding: 10px 0;
            &-content {
                flex-direction: column;
                align-items: center;
                white-space: nowrap;
                & > div {
                    flex-direction: column;
                    justify-content: flex-start;
                    & > a {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .caption {
        &--first {
            font-size: 14px;
        }
    }
    .preview {
        &__image-block {
            height: 250px;
        }
        &__meta {
            margin-top: 20px;
        }
    }
}

@media (max-width: 375px) {
    .preview {
        &__image-block {
            height: 200px;
        }
    }
    .header {
        &__logo {
            width: 130px;
        }
    }
    .title {
        &--first {
            font-size: 22px;
        }
        &--second {
            font-size: 22px;
        }
    }
    .subtitle {
        &--first {
            font-size: 16px;
        }
        &--second {
            font-size: 16px;
        }
    }
}

@media (max-width: 320px) {
    .preview {
        &__image-block {
            height: 180px;
        }
    }
}