/* color */
$blackFirst: #303030;
$blackSecond: #363636;
$blackThird: #2b2a2a;
$blackFourth: #201e1e;
$blueFirst: #3670ff;
$blueSecond: #174aff;
$darkGray: #979797;
$yellow: #ffcf59;
$darkYellow: #ffb167;

/* transition */
$slow: all 0.5s ease 0s;