@import '_normalize.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_common.scss';

html, body {
    @include poppins-regular;
    @include font-props(16px, 150%, rgba(255, 255, 255, 0.7));
    height: 100%;
    overflow-x: hidden;
    color: $blackSecond;
    letter-spacing: 0.5px;
}

form {
    position: relative;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

::placeholder {
    color: rgba(54, 54, 54, 0.6);
}

.wrapper {
    height: 100%;
}

.page {
    & header {
        padding-top: 29px;
    }
}

.home-page {
    & .navbar__list-item {
        &:hover {
            & a {
                color: rgba(255, 255, 255, 1);
            }
        }
        & a {
            color: rgba(255, 255, 255, 0.8);
        }
    }
    & .demo-form-block {
        margin-top: 148px;
    }
}

.features-page {
    & .demo-form-block {
        margin-top: 160px;
    }
}

.blog-page {
    & .demo-form-block {
        margin-top: 107px;
    }
}

.contact-us-page {
    & .footer {
        margin-top: 120px;
    }
}

.home-main {
    min-height: 896px;
    background-color: #fff;
    position: relative;
    @include background($image: '../img/home-gradient-bg.png', $position: bottom);
    // &::before {
    //     @include pseudo;
    //     @include background($image: '../img/home-black-bg.png');
    //     clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    //     background-color: #000;
    //     width: 100%;
    //     min-height: 100vh;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: -1;
    // }
    // &__bg {
    //     width: 100%;
    //     height: 66.5vh;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     // z-index: -1;
    //     background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #FF29C3 100%);
    //     filter: blur(100px);
    //     &:after {
    //         @include pseudo;
    //     }
    // }
    &__body {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    &__content {
        @include flex($align: flex-start);
        margin-top: 147px;
    }
    &__title {
        @include poppins-semibold;
        @include font-props(54px, 120%, #fff);
        margin: 0;
        max-width: 656px;
    }
    &__subtitle {
        @include font-props(20px, 160%, rgba(255, 255, 255, 0.75));
        margin-top: 24px;
        max-width: 724px;
        letter-spacing: 0.5px;
    }
    &__form {
        margin-top: 53px;
        width: 540px;
        &-input {
            height: 58px;
        }
        &-btn {
            margin-left: 18px;
            height: 58px;
        }
    }
    &__desc {
        margin-top: 14px;
        color: rgba(255, 255, 255, 0.6);
    }
    &__image-block {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 45%;
    }
}

.effort {
    margin-top: 117px;
    &__content {
        @include flex($direction: column, $align: flex-start);
    }
    &__title {
        max-width: 520px;
    }
    &__subtitle {
        margin-top: 17px;
        max-width: 620px;
        opacity: 0.6;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 70px 50px;
        width: 100%;
        margin-top: 32px;
        list-style-type: none;
        &-item {
            flex: 0 0 33.3%;
            margin-top: 20px;
            color: $blackSecond;
            &__content {
                @include flex($direction: column, $align: flex-start);
            }
            &-image {
                width: 79px;
                height: 79px;
                object-fit: cover;
            }
            &-title {
                @include poppins-bold;
                @include font-props(20px, 150%, $blackSecond);
                margin-top: 26px;

            }
            &-subtitle {
                @include poppins-medium;
                @include font-props(16, 150%, $blackSecond);
                margin-top: 5px;
            }
            &-desc {
                @include font-props(16px, 175%, $blackSecond);
                margin-top: 10px;
                letter-spacing: 0.3px;
                opacity: 0.7;
            }
        }
    }
}

.corporate-governance {
    margin-top: 143px;
    &__content {
        display: flex;
        flex-direction: column
    }
    &__title {
        max-width: 520px;
    }
    &__subtitle {
        @include poppins-medium;
        margin-top: 14px;
        max-width: 736px;
        font-size: 20px;
        opacity: 0.6;
    }
    &__list {
        margin-top: 77px;
        display: flex;
        flex-direction: column;
        &-item {
            @include flex;
            width: 94%;
            &:nth-child(odd) {
                align-self: flex-end;
                
            }
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            &:not(:first-child) {
                margin-top: 30px;
            }
            &-content {
                flex: 0 0 33.3%;
                display: flex;
                flex-direction: column;
            }
            &-icon {
                width: 58px;
            }
            &-caption {
                margin-top: 25px;
            }
            &-title {
                margin-top: 10px;
            }
            &-desc {
                margin-top: 12px;
            }
            &-image-block {
                flex: 0 0 70%;
                & img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &__btn {
        margin: 118px auto 0;
        padding: 15px 27px 14px;
    }
}

.testimonials {
    margin-top: 143px;
    &__text {
        display: flex;
        flex-direction: column;
        & > div {
            @include flex($align: flex-end);
            margin-top: 14px;
        }
    }
    &__title {
        max-width: 470px;
    }
    &__subtitle {
        color: rgba(54, 54, 54, 0.6);
        max-width: 504px;
    }
    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 107px;
        // width: 953px;
        &-slide {
            @include flex($justify: flex-start);
            padding: 0 83px 0 95px;
            cursor: pointer;
            &-image-block {
                width: 378px;
                height: 468px;
                border-radius: 10px;
                background-color: #d8d8d8;
            }
            &-image {
                width: 378px;
                height: 468px;
                border-radius: 10px;
                object-fit: cover;
            }
            &-text {
                flex: 0 0 51%;
                display: flex;
                flex-direction: column;
                margin-left: 68px;
                &::before {
                    @include pseudo;
                    @include background($image: '../img/quote.svg');
                    width: 52px;
                    height: 46px;
                }
            }
            &-desc {
                margin-top: 28px;
                color: $blackSecond;
                opacity: 0.7;
            }
            &-author {
                @include poppins-medium;
                color: $blackSecond;
                margin-top: 33px;
            }
            &-geo {
                margin-top: 13px;
                color: #000;
                opacity: 0.7;
            }
        }
        &-pagination {
            margin-top: 82px;
            position: static;
            & .swiper-pagination-bullet {
                width: 13px;
                height: 13px;
                background-color: #fff;
                border: 1px solid #979797;
                opacity: 0.8;
                &:not(:first-child) {
                    margin-left: 10px;
                }
                &-active {
                    background-color: #979797;
                }
            }
        }
        &-button {
            &.swiper-button-prev,
            &.swiper-button-next {
                width: 15px;
                height: 29px;
                top: 39%;
                &::after {
                    font-size: 29px;
                    color: #000;
                }
            }
        }
    }
}

.articles {
    margin-top: 115px;
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin-top: 18px;
        max-width: 775px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 30.5%);
        gap: 50px;
        margin-top: 78px;
        list-style-type: none;
        &-item {
            transition: all 0.4s ease 0s;
            &:hover {
                transform: translateY(-15px);
            }
            &-link {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                color: $blackSecond;
            }
            &-image-block {
                width: 100%;
                height: 226px;
                border-radius: 10px;
                background-color: #ededed;
            }
            &-image {
                width: 100%;
                height: 226px;
                border-radius: 10px;
                object-fit: cover;
            }
            &-text {
                margin-top: 20px;
            }
            &-title {
                @include font-props(18px, 150%, $blackSecond);
                letter-spacing: 0.6px;
                margin-top: 11px;
            }
            &-desc {
                @include font-props(16px, 156.25%, $blackSecond);
                opacity: 0.6;
                margin-top: 22px;
            }
        }
    }
    &__btn {
        margin: 73px auto 0;
        padding: 16px 28px;
    }
}

.home-demo-form-block {
    margin: 148px 0 129px;
}

.features-main {
    margin-top: 167px;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        text-align: center;
    }
    &__subtitle {
        margin-top: 17px;
        color: $blackSecond;
    }
    &__list {
        margin-top: 126px;
        width: 100%;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:nth-child(even) {
                & .features-main__list-item-row {
                    flex-direction: row-reverse;
                }
            }
            &:not(:first-child) {
                margin-top: 210px;
            }
            &-row {
                @include flex;
                width: 100%;
            }
            &-content {
                width: 30%;
                display: flex;
                flex-direction: column;
            }
            &-icon {
                width: 69px;
                object-fit: cover;
            }
            &-text {
                margin-top: 34px;
            }
            &-title {
                margin-top: 16px;
            }
            &-desc {
                margin-top: 18px;
            }
            &-image-block {
                width: 789px;
                height: 444px;
            }
            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &-grid {
                margin-top: -27px;
            }
        }
    }
    &__grid {
        margin-top: 82px;
        display: grid;
        grid-template-columns: repeat(2, 337px);
        gap: 140px;
        justify-content: space-between;
        width: 81%;
        position: relative;
        &-item {
            &-icon {
                width: 57px;
                object-fit: cover;
            }
            &-title {
                margin-top: 24px;
            }
            &-desc {
                margin-top: 17px;
            }
        }
    }
}

.blog-main {
    margin-top: 161px;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__box {
        max-width: 727px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        text-align: center;
    }
    &__search-form {
        @include flex;
        margin-top: 43px;
        width: 100%;
        height: 61px;
        &-input {
            flex: 0 0 75%;
            height: 100%;
        }
        &-btn {
            flex: 0 0 158px;
            height: 100%;
        }
    }
    &__content {
        margin-top: 118px;
        display: flex;
        flex-direction: column;
        &-row {
            @include flex($align: flex-start);
            max-width: 1134px;
        }
        &-btn {
            margin-top: 124px;
            width: 178px;
            height: 50px;
            padding: 13px 43px;
            align-self: center;
        }
    }
    &__box-title {
        @include poppins-semibold;
        @include font-props(18px, 150%, $blackSecond);
        margin-bottom: 25px;
    }
    &__previews {
        width: 59.5%;
        display: flex;
        flex-direction: column;
        &-list {
            width: 100%;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(1, 100%);
            gap: 76px 0;
        }
    }
    &__sidebar {
        flex: 0 0 30%;
        &-previews {
            margin-top: 74px;
        }
        &-preview {
            &:not(:first-child) {
                margin-top: 64px;
                &::before {
                    @include pseudo;
                    transform: translateY(-28px);
                    width: 100%;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    &__category-list {
        margin: -16px 0 0 -16px;
    }
    &__category {
        margin: 16px 0 0 16px;
    }
}

.contact-us-main {
    margin-top: 163px;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        max-width: 750px;
        text-align: center;
    }
    &__subtitle {
        width: 100%;
        margin-top: 16px;
        // letter-spacing: 0.7px;
    }
    &__form {
        margin-top: 52px;
        max-width: 684px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-field {
            margin-top: 22px;
            &.input {
                flex: 0 0 100%;
            }
            &[name="name"],
            &[name="email"] {
                flex: 0 0 49%;
            }
        }
        &-input {
            height: 60px;
        }
        &-textarea {
            height: 180px;
        }
        &-btn {
            margin: 24px auto 0;
            width: 192px;
            height: 53px;
        }
    }
    &__images {
        width: 100%;
    }
    &__image-block {
        width: 114px;
        height: 114px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        background-color: rgba(225, 225, 225, 0.2);
    }
    &__image {
        width: 82px;
        height: 82px;
        border-radius: 50%;
        object-fit: cover;
        transform: translateY(-7px);
    }
    &__contacts {
        @include font-props(26px, 150%, $blackSecond);
        @include poppins-semibold;
        @include flex;
        margin-top: 152px;
        & a {
            @include poppins-medium;
            color: #3670ff;
            text-decoration: none;
            transition: all 0.2s ease-in-out 0s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__phone-number {
        margin-right: 42px;
    }
    &__email {
        margin-left: 42px;
    }
}

.sign-up-main,
.sign-in-main,
.recover-main {
    margin-top: 100px;
}

.sign-up-main__form,
.sign-in-main__form,
.recover-main__form {
    width: 100%;
}

// media queries
@media (max-width: 1366px) {
    .corporate-governance {
        &__list {
            &-item {
                width: 1000px;
                &-content {
                    flex: 0 0 40%;
                }
                &-image-block {
                    flex: 0 0 550px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .home-main {
        &__title {
            max-width: 70%;
            font-size: 48px;
        }
        &__subtitle {
            max-width: 70%;
        }
        &__form {
            width: 50%;
        }
    }
    .effort {
        margin-top: 80px;
    }
    .testimonials {
        margin-top: 100px;
        &__text {
            & > div {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__subtitle {
            margin-top: 10px;
            width: 70%;
            & br {
                display: none;
            }
        }
        &__slider {
            &-slide {
                padding: 0;
            }
            &-pagination {
                margin-top: 50px;
            }
            &-button {
                display: none;
            }
        }
    }
    .corporate-governance {
        &__list {
            width: 100%;
            align-items: center;
            &-item {
                width: 100%;
                &-content {
                    flex: 0 0 40%;
                }
                &-image-block {
                    flex: 0 0 50%;
                }
                & br {
                    display: none;
                }
            }
        }
        &__btn {
            margin: 80px auto 0;
        }
    }
    .articles {
        &__list {
            grid-template-columns: repeat(2, auto);
        }
        &__btn {
            margin: 50px auto 0;
        }
    }
    .features-main {
        margin-top: 20%;
        &__list {
            &-item {
                &-image-block {
                    width: 65%;
                    height: 100%;
                }
            }
        }
        &__grid {
            gap: 20%;
        }
    }
    .blog-main {
        margin-top: 20%;
        &__box {
            max-width: 100%;
            width: 80%;
        }
        &__content {
            &-btn {
                margin-top: 10%;
            }
        }
        &__sidebar {
            flex: 0 0 35%;
        }
    }
    .contact-us-main {
        margin-top: 15%;
        &__form {
            margin-top: 3%;
        }
        &__contacts {
            margin-top: 15%;
        }
    }
    .contact-us-page {
        & .footer {
            margin-top: 10%;
        }
    }
    .sign-in-main,
    .sign-up-main,
    .recover-main
    {
        margin-top: 15%;
    }
}

@media (max-width: 992px) {
    .home-page {
        & .demo-form-block {
            margin-top: 100px;
        }
        & .footer {
            margin-top: 100px;
        }
    }
    .home-main {
        &__content {
            margin-top: 110px;
            justify-content: center;
        }
        &__column {
            width: 80%;
            text-align: center;
        }
        &__title {
            max-width: 100%;
        }
        &__subtitle {
            max-width: 100%;
        }
        &__form {
            width: 100%;
        }
        &__desc {
            text-align: left;
        }
        &__image-block {
            display: none;
        }
    }
    .effort {
        &__list {
            gap: 50px 20px;
            // grid-template-columns: repeat(1, 60%);
            // justify-items: center;
            &-item {
                &-image {
                    width: 65px;
                    height: 65px;
                }
            }
        }
    }
    .testimonials {
        margin-top: 70px;
        &__slider {
            margin-top: 0;
            &-slide {
                margin-top: 80px;
                // padding: 0 43px 0 55px;
                padding: 0;
                &-image-block {
                    width: 40%;
                    max-height: 400px;
                }
                &-image {
                    width: 100%;
                    height: 100%;
                }
                &-text {
                    margin-left: 50px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .articles {
        &__list {
            margin-top: 60px;
            gap: 30px;
        }
    }
    .features-main {
        &__list {
            &-item {
                align-items: flex-start;
                &:nth-child(even) {
                    & .features-main__list-item-row {
                        flex-direction: column-reverse;
                    }
                }
                &-row {
                    flex-direction: column-reverse;
                }
                &-content {
                    width: 100%;
                    text-align: center;
                }
                &-image-block {
                    width: 100%;
                }
                &-icon {
                    display: none;
                }
            }
        }
        &__grid {
            width: 100%;
            grid-template-columns: repeat(2, 40%);
            &-item {
                &-icon {
                    width: 50px;
                }
                &-desc {
                    margin-top: 10px;
                }
            }
        }
    }
    .blog-main {
        &__search-form {
            &-btn {
                margin-left: 20px;
            }
        }
        &__content {
            &-row {
                flex-direction: column-reverse;
            }
        }
        &__box {
            width: 90%;
            &-title {
                margin-bottom: 15px;
            }
        }
        &__previews {
            margin-top: 40px;
            width: 100%;
        }
        &__sidebar {
            &-previews {
                display: none;
            }
        }
    }
    .contact-us-main {
        &__contacts {
            font-size: 22px;
        }
    }
}

@media (max-width: 768px) {
    .home-main {
        min-height: 110vh;
        &__column {
            width: 100%;
        }
        &__title {
            font-size: 40px;
        }
    }
    .effort {
        margin-top: 0;
        &__list {
            grid-template-columns: repeat(1, auto);
            gap: 30px 0;
            &-item {
                width: 100%;
                text-align: center;
                &-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .corporate-governance {
        margin-top: 100px;
        &__list {
            margin-top: 30px;
            &-item {
                flex-direction: column-reverse;
                align-items: center;
                text-align: center;
                &:nth-child(even) {
                    flex-direction: column-reverse;
                }
                &:last-child {
                    .corporate-governance__list-item-content {
                        margin-top: 30px;
                    }
                    .corporate-governance__list-item-image-block {
                        margin-top: 30px;
                    }
                }
                &-content {
                    margin-top: -30px;
                }
                &-icon {
                    display: none;
                }
                &-caption {
                    margin-top: 0;
                }
            }
        }
    }
    .testimonials {
        &__slider {
            width: 80%;
            &-slide {
                flex-direction: column;
                &-image-block {
                    width: 100%;
                }
                &-image {
                    object-position: top center;
                }
                &-text {
                    margin-left: 0;
                    align-items: center;
                }
                &-desc {
                    max-height: 100px;
                    overflow-y: scroll;
                }
                &-author {
                    margin-top: 10px;
                }
                &-geo {
                    margin-top: 5px;
                }
            }
        }
    }
    .articles {
        margin-top: 80px;
        &__list {
            margin-top: 40px;
            grid-template-columns: repeat(1, auto);
            gap: 50px;
            &-item {
                &:hover {
                    transform: translateY(0);
                }
                &:nth-child(n + 4) {
                    display: none;
                }
                &-image-block {
                    height: 300px;
                    & img {
                        height: 100%;
                    }
                }
                &-desc {
                    margin-top: 10px;
                }
            }
        }
    }
    .features-main {
        &__list {
            &-item {
                &:not(:first-child) {
                    margin-top: 150px;
                }
            }
        }
        &__grid {
            grid-template-columns: repeat(2, 45%);
            gap: 10%;
        }
    }
    .blog-main {
        &__box {
            width: 100%;
            &-title {
                width: 100%;
                font-size: 16px;
            }
        }
        &__search-form {
            justify-content: flex-start;
            &-input {
                flex: 0 0 70%;
            }
            &-btn {
                flex: 0 0 25%;
            }
        }
        &__content {
            margin-top: 20%;
        }
        &__category {
            padding: 10px 20px;
        }
    }
    .contact-us-main {
        &__contacts {
            flex-direction: column;
            font-size: 20px;
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__phone-number {
            margin-right: 0;
        }
        &__email {
            margin-left: 0;
        }
        &__form {
            &-field {
                &[name="name"] {
                    flex: 0 0 100%;
                }
                &[name="email"] {
                    flex: 0 0 100%;
                }
            }
            &-textarea {
                height: 150px;
            }
        }
    }
}

@media (max-width: 600px) {
    .home-main {
        &__content {
            margin-top: 90px;
        }
        &__title {
            font-size: 36px;
        }
        &__subtitle {
            margin-top: 16px;
            font-size: 18px;
        }
        &__form {
            margin-top: 35px;
            &-btn {
                margin-left: 5%;
                padding: 17px 25px;
            }
        }
        &__desc {
            display: none;
        }
    }
    .corporate-governance {
        &__subtitle {
            font-size: 18px;
        }
        &__btn {
            margin: 50px auto 0;
        }
    }
    .testimonials {
        &__text {
            & > div {
                margin-top: 5px;
            }
        }
        &__subtitle {
            width: 100%;
        }
        &__slider {
            width: 100%;
            &-slide {
                margin-top: 50px;
            }
            &-pagination {
                display: none;
            }
        }
    }
    .articles {
        &__title {
            margin-top: 5px;
        }
    }
    .home-page {
        & .footer {
            margin-top: 80px;
        }
    }
    .features-main {
        &__list {
            margin-top: 20%;
            &-item {
                &:not(:first-child) {
                    margin-top: 120px;
                }
            }
        }
        &__grid {
            margin-top: 60px;
            grid-template-columns: repeat(1, 100%);
            gap: 30px 0;
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                &-text {
                    text-align: center;
                }
            }
        }
    }
    .blog-main {
        &__search-form {
            height: 50px;
            justify-content: space-between;
            &-btn {
                margin-left: 0;
            }
        }
        &__previews {
            &-list {
                gap: 50px 0;
            }
        }
    }
    .contact-us-main {
        &__form {
            &-input {
                height: 50px;
            }
            &-btn {
                height: 48px;
                padding: 10px 32px;
            }
        }
    }
    .sign-in-main {
        &__box {
            width: 80%;
        }
    }
    .sign-up-main {
        &__box {
            width: 80%;
        }
    }
    .recover-main {
        &__box {
            width: 80%;
        }
    }
}

@media (max-width: 480px) {
    .home-main {
        min-height: 100vh;
        &__title {
            font-size: 34px;
        }
        &__form {
            flex-direction: column;
            align-items: center;
            &-input {
                width: 100%;
            }
            &-btn {
                margin: 15px 0 0;
            }
        }
    }
    .effort {
        &__subtitle {
            margin-top: 10px;
        }
        &__list {
            &-item {
                &-title {
                    font-size: 18px;
                }
            }
        }
    }
    .corporate-governance {
        margin-top: 90px;
        &__list {
            &-item {
                &-caption {
                    display: none;
                }
            }
        }
    }
    .articles {
        &__list {
            &-item {
                &-image-block {
                    height: 250px;
                }
            }
        }
    }
    .features-main {
        &__list {
            &-item {
                &-title {
                    margin-top: 0;
                }
                &-caption {
                    display: none;
                }
            }
        }
    }
    .blog-main {
        &__search-form {
            justify-content: flex-start;
            &-input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 10px 15px;
                width: 60%;
            }
            &-btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding: 0;
                flex: 0 0 30%;
            }
        }
        &__category {
            &-list {
                margin: -16px 0 0 -10px;
            }
            margin: 16px 0 0 10px;
            padding: 10px 15px;
        }
        &__box-title {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
    .contact-us-main {
        &__form {
            &-field {
                margin-top: 15px;
            }
            &-textarea {
                height: 120px;
            }
            &-btn {
                margin: 20px auto 0;
            }
        }
        &__contacts {
            font-size: 18px;
        }
    }
    .sign-in-main {
        &__box {
            width: 100%;
        }
    }
    .sign-up-main {
        &__box {
            width: 100%;
        }
    }
    .recover-main {
        &__box {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .home-main {
        &__title {
            font-size: 30px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .testimonials {
        &__subtitle {
            & br {
                display: none;
            }
        }
    }
    .corporate-governance {
        &__subtitle {
            font-size: 16px;
        }
        &__btn {
            margin: 40px auto 0;
        }
    }
    .articles {
        &__list {
            &-item {
                &-image-block {
                    height: 210px;
                }
            }
        }
        &__btn {
            margin: 40px auto 0;
        }
    }
}

@media (max-width: 320px) {
    .home-main {
        &__title {
            font-size: 28px;
        }
    }
}